{% extends 'base/base.html' %}
{% load static%}
{% block contenido %}
<!-- Earnings (Monthly) Card Example -->

<div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <h2 style="text-align: center;">HISTORIAL EN SACE</h2>
              <div class="panel-heading">
                 <a href="{% url 'generales:home_user' %}" class="btn btn-info"><span class="fa fa-undo"></span> Regresar</a>
                 <a href="{% url 'catalogos:categoria_print'%}" target="print" class="btn btn-info"><span class="fa fa-print"></span> Imprimir</a>
              </div>
              <br>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
		<div class="card mb-3" style="max-width: 80%;">
  			<div class="row no-gutters">
    			<div class="col-md-4">
      			<img src="https://st2.depositphotos.com/1007566/12011/v/950/depositphotos_120118192-stock-illustration-student-boy-school-icon.jpg" class="card-img" alt="...">
    			</div>
    		<div class="col-md-8">
      			<div class="card-body">
        		<ul class="list-group">
					{% for a in alumno %}
					<h5 class="card-title">Información General del Alumno
					<span class="badge badge-primary"> {{a.identidadsace.genero}} </span>
					</h5>
  					<li class="list-group-item"><strong>Nombre :</strong> {{a.identidadsace}}</li>
  					<li class="list-group-item"><strong>Departamento :</strong> {{a.departamento}}</li>
						<li class="list-group-item"><strong>Municipio :</strong> {{a.municipio}}</li>
						<li class="list-group-item"><strong>Aldea :</strong> {{a.aldea}}</li>
						<li class="list-group-item"><strong>Caserio :</strong> {{a.caserio}}</li>
						<li class="list-group-item"><strong>Telefono :</strong> {{a.telefono}}</li>
					{% endfor %}
				</ul>
        		<p class="card-text"><small class="text-muted">Información obtenida de su ultimo registro en SACE</small></p>
      			</div>
    		</div>
  		</div>
		</div>
      {% if historial %}
         {% for historial in historial %}
		<div class="card mb-3" style="max-width: 100%;">
  			<div class="row no-gutters">
    		<div class="col-md-8">
      			<div class="card-body">
        		<h5 class="card-title"><strong>Periodo:</strong> <span class="badge badge-primary"> {{historial.periodo}} </span>  <strong> Centro Educativo:</strong> <span class="badge badge-success">{{historial.codcentro}} - {{historial.nombrecentro}} </span> </h5>
        		<ul class="list-group">
  					<li class="list-group-item"><strong>Grado :</strong> {{historial.grado}}</li>
				</ul>
        		<p class="card-text"><small class="text-muted">Información obtenida de su ultimo registro en SACE</small></p>
      			</div>
    		</div>
  		</div>
		</div>
        {% endfor %}
  {% else %}
  <h1>No hay Historial</h1>
  {% endif %}

              </div>
            </div>

          </div>
        </div>
      </div>


<script src="{% static 'base/js/jquery.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready( function () {
	  $('#dataTables-example').DataTable(
				{
					responsive: true
				}
			);});

</script>
{% endblock contenido%}
