{% extends 'base/base.html' %}
{% load static%}
{% block contenido %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

<form method="POST">

    <div class="panel panel-default">
        <h3 style="text-align: center;">Editar/Crear Registro NNA</h3>
              <div class="panel-heading" style="text-align: right;">
                 <a href="{% url 'catalogos:producto_list_sinregistro' %}" class="btn btn-info"><span class="fa fa-plus-circle"></span> SIN REGISTRO</a>
              </div>
        <br>
        <div class="panel-body">
            {% csrf_token %}
    	<div class="card text-center">
                    <div class="card-header bg-secondary">
                        <h5><p  class="text-light">
                            <strong>Información de Origen  del Estudiante
                                </strong>
                            </p>
                        </h5>
                    </div>
                    <div class="card-body">
                            <div class="form-row" >                                    
                                    <div class="col-6">
                                    <strong>
                                    <label class="control-label" for="inputSuccess">Departamento de origen:    </label>                                                                      
                                    </strong>
                                    <select class="form-control" id="departamentos" class="form-control" id="devicePicker" data-live-search="true"  data-none-results-text="I found no results">
                                        {% for d in Departamentos %}
                                            <option value={{d.id}}>{{d.descripcion}}</option> 
                                        {% endfor %}
                                          </select>                                    
                                    </div>
                                    <div class="col-6">
                                        <strong><label class="control-label"   for="inputSuccess">Municipio de origen:   </label>
                                        </strong>
                                            <select class="form-control" name= 'origen' id="origen" data-live-search="true"  required data-none-results-text="No hay resultados">                                               
                                                <option value=""> Ningún Elemento cargado</option> 
                                            </select>                                    
                                    </div>                                    
                            </div>
                    </div>
            </div>
            <br>
        <div class="card text-center">
                    <div class="card-header bg-secondary">
                        <h5><p  class="text-light">
                            <strong>Información del Destino del Estudiante
                                </strong>
                            </p>
                        </h5>
                    </div>
                    <div class="card-body">
                            <div class="form-row" >
                                    <div class="col-6">
                                    <strong>
                                    <label class="control-label" for="inputSuccess">Departamento destino:    </label>                                                                      
                                    </strong>
                                    <select class="form-control" id="departamentos2" class="form-control" id="devicePicker" data-live-search="true"  data-none-results-text="I found no results">
                                        {% for d in Departamentos %}
                                            <option value={{d.id}}>{{d.descripcion}}</option> 
                                        {% endfor %}
                                          </select>                                    
                                    </div>
                                    <div class="col-6">
                                        <strong><label class="control-label"   for="inputSuccess">Municipio destino:  </label>
                                        </strong>
                                            <select class="form-control" name="subcategoria" id="id_subcategoria" data-live-search="true" required  data-none-results-text="No hay resultados">                                               
                                                <option value=""> Ningún Elemento cargado</option> 
                                            </select>                                    
                                    </div>                                    
                            </div>
                            <br>
                            <div class="form-row" >                                    
                                    <div class="col-6">
                                    <strong>
                                        <label class="control-label" for="inputSuccess">Centro Educativo</label>
                                            {{form.centroeducativo}}
                                        </strong>
                                    </div>
                            </div>

                            <div class="form-row" >
                                    <div class="col-6">
                                    <strong>
                                    <label class="control-label" for="inputSuccess">Codigo CE</label>
                                    </strong>
                                    {{form.codigoce}}
                                    </div>
                                    <div class="col-2">
                                        <strong>
                                        <label class="control-label" for="inputSuccess">Grado</label></strong>
                                            {{form.grado}}
                                    </div>
                            </div>
                    </div>
            </div>
            <br>
    	<div class="card text-center">
                    <div class="card-header bg-secondary">
                            <h5><p  class="text-light">
                                <strong>Información Personal  del Estudiante
                                    </strong>
                                </p>
                            </h5>
                        </div>
        <div class="card-body">
                            <div class="form-row">
                                    <div class="col-6">
                                    <strong><label class="control-label" for="inputWarning">Identidad SACE</label>
                                    </strong>
                                    {{form.identidadext}}
                                    </div>
                            </div>
                            <div class="form-row">
                                    <div class="col-7">
                                    <strong>
                                    <label class="control-label" for="inputWarning">Nombre</label></strong>
                                    {{form.descripcion}}
                                    </div>
                                    <div class="col-2">
                                    <strong>
                                    <label class="control-label" for="inputWarning">Genero</label></strong>
                                    {{form.genero}}
                                    </div>
                                    <div class="col-2">
                                    <strong>
                                    <label class="control-label" for="inputWarning">Edad</label></strong>
                                    {{form.edad}}
                                    </div>
                                </div>
                    </div>
            </div>
            <br>
            <div class="card text-center">
                    <div class="card-header bg-secondary">
                            <h5><p  class="text-light">
                                <strong>Información Personal  del Estudiante
                                    </strong>
                                </p>
                            </h5>
                        </div>
                    <div class="card-body">
                            <div class="form-row">
                                    <div class="col-6">
                                    <strong><label class="control-label" for="inputWarning">Identidad Encargado</label>
                                    </strong>
                                    {{form.idencargado}}
                                    </div>
                            </div>
                            <div class="form-row">
                                    <div class="col-7">
                                    <strong>
                                    <label class="control-label" for="inputWarning">Nombre Encargado</label></strong>
                                    {{form.nombreencargado}}
                                    </div>
                                    <div class="col-2">
                                    <strong>
                                    <label class="control-label" for="inputWarning">Telefono</label></strong>
                                    {{form.telefono}}
                                    </div>
                                </div>
                            <div class="form-row">
                                    <div class="col-7">
                                    <strong>
                                    <label class="control-label" for="inputWarning">Observaciones</label></strong>
                                    {{form.observaciones}}
                                    </div>
                            </div>
            </div>
        </div>




        <br>
    	<div class="card text-center">
			<div class="card-header">
		    	Estado del Proceso
		  	</div>
		  	<div class="card-body">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
				{% if obj == none %}
					<label class="btn btn-outline-primary btn-lg active">
					<input type="radio" name="estado" id="estado"  value = "1" checked> Ingresado</label>
					<label class="btn btn-outline-warning btn-lg">
				  	<input type="radio" name="estado" id="estado" value = "2"> NNA-NCR
					</label>
					<label class="btn btn-outline-danger btn-lg">
				  	<input type="radio" name="estado" id="estado" value = "3"> NNA-OCR
                    </label>
                    <label class="btn btn-outline-success btn-lg">
                    <input type="radio" name="estado" id="estado" value = "4"> NNA-SCR                    
                    </label>
                    <label class="btn btn-outline-info btn-lg">
                    <input type="radio" name="estado" id="estado" value = "5"> Pendiente
                    </label>
				{% elif obj.estado  == 1 %}
					<label class="btn btn-outline-primary btn-lg active">
					<input type="radio" name="estado" id="estado" value = "1" checked> Ingresado</label>
					<label class="btn btn-outline-warning btn-lg">
                        <input type="radio" name="estado" id="estado" value = "2"> NNA-NCR
                      </label>
                      <label class="btn btn-outline-danger btn-lg">
                        <input type="radio" name="estado" id="estado" value = "3"> NNA-OCR
                      </label>
                      <label class="btn btn-outline-success btn-lg">
                      <input type="radio" name="estado" id="estado" value = "4"> NNA-SCR                    
                      </label>
                      <label class="btn btn-outline-info btn-lg">
                      <input type="radio" name="estado" id="estado" value = "5"> Pendiente
                      </label>
				{% elif obj.estado  == 2 %}
					<label class="btn btn-outline-primary btn-lg ">
					<input type="radio" name="estado" id="estado" value = "1" > Ingresado</label>
					<label class="btn btn-outline-warning btn-lg">
                        <input type="radio" name="estado" id="estado" value = "2" checked> NNA-NCR
                      </label>
                      <label class="btn btn-outline-danger btn-lg">
                        <input type="radio" name="estado" id="estado" value = "3"> NNA-OCR
                      </label>
                      <label class="btn btn-outline-success btn-lg">
                      <input type="radio" name="estado" id="estado" value = "4"> NNA-SCR                    
                      </label>
                      <label class="btn btn-outline-info btn-lg">
                      <input type="radio" name="estado" id="estado" value = "5"> Pendiente
                      </label>
				 {% elif obj.estado  == 3 %}
					<label class="btn btn-outline-primary btn-lg ">
					<input type="radio" name="estado" id="estado" value = "1" > Ingresado</label>
					<label class="btn btn-outline-warning btn-lg">
                        <input type="radio" name="estado" id="estado" value = "2"> NNA-NCR
                      </label>
                      <label class="btn btn-outline-danger btn-lg">
                        <input type="radio" name="estado" id="estado" value = "3" checked> NNA-OCR
                      </label>
                      <label class="btn btn-outline-success btn-lg">
                      <input type="radio" name="estado" id="estado" value = "4"> NNA-SCR                    
                      </label>
                      <label class="btn btn-outline-info btn-lg">
                      <input type="radio" name="estado" id="estado" value = "5"> Pendiente
                      </label>
                      {% elif obj.estado  == 4 %}
                      <label class="btn btn-outline-primary btn-lg ">
                      <input type="radio" name="estado" id="estado" value = "1" > Ingresado</label>
                      <label class="btn btn-outline-warning btn-lg">
                          <input type="radio" name="estado" id="estado" value = "2"> NNA-NCR
                        </label>
                        <label class="btn btn-outline-danger btn-lg">
                          <input type="radio" name="estado" id="estado" value = "3" > NNA-OCR
                        </label>
                        <label class="btn btn-outline-success btn-lg">
                        <input type="radio" name="estado" id="estado" value = "4" checked> NNA-SCR                    
                        </label>
                        <label class="btn btn-outline-info btn-lg">
                        <input type="radio" name="estado" id="estado" value = "5"> Pendiente
                        </label>
                        {% elif obj.estado  == 5 %}
                      <label class="btn btn-outline-primary btn-lg ">
                      <input type="radio" name="estado" id="estado" value = "1" > Ingresado</label>
                      <label class="btn btn-outline-warning btn-lg">
                          <input type="radio" name="estado" id="estado" value = "2"> NNA-NCR
                        </label>
                        <label class="btn btn-outline-danger btn-lg">
                          <input type="radio" name="estado" id="estado" value = "3" > NNA-OCR
                        </label>
                        <label class="btn btn-outline-success btn-lg">
                        <input type="radio" name="estado" id="estado" value = "4" > NNA-SCR                    
                        </label>
                        <label class="btn btn-outline-info btn-lg">
                        <input type="radio" name="estado" id="estado" value = "5" checked> Pendiente
                        </label>
				{% endif %}
			</div>
		</div>
	</div>
			<div class="card text-center">
				<div class="card-header">
			        Opciones
			    </div>
			    <div class="card-body">
		            <button class="btn btn-success btn-lg" type="submit"><span class="fa fa-save"> </span> Guardar </button>
		            <a href="{% url 'catalogos:producto_list_internos' %}" class="btn btn-danger btn-lg"><span class="fa fa-undo"> </span>  Cancelar</a>
			    </div>
			</div>
    </div>
</form>
<script src="{% static 'base/js/jquery.min.js' %}"></script>  
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

<script src="{% static 'base/js/chosen.jquery.min.js' %}"></script>

<script type="text/javascript">

 $(document).ready(function() {
    $('.js-example-basic-single').select2();
    $('#departamentos').select2();
    $('#departamentos2').select2();
    $('#origen').select2();
    $('#id_subcategoria').select2();
    $('#id_identidadext').select2({language: "es"});
    $('#departamentos').on("change", function() {
            $('.select').chosen({ width:'200px' });
            var departamento_id = $("#departamentos").val();
            if (departamento_id) {
                // Eliminamos las opciones anteriores del select
                $("#origen").html("");
                var request = $.ajax({
                    type: "GET",
                    url: "{% url 'catalogos:get_municipios' %}",
                    data: {
                        "departamento_id": departamento_id,
                    },
                });
                request.done(function(response) {
                    // Agregamos los resultados al select                    
                    $("#origen").html(response.municipios);                    
                });
                } else {
                    $("#origen").html("<option value='' selected='selected'>---------</option>");                                    
                }
        });
    
        $("#departamentos2").on("change", function() {
            var departamento_id = $("#departamentos2").val();
            if (departamento_id) {
                // Eliminamos las opciones anteriores del select
                $("#id_subcategoria").html("");
                var request = $.ajax({
                    type: "GET",
                    url: "{% url 'catalogos:get_municipios' %}",
                    data: {
                        "departamento_id": departamento_id,
                    },
                });
                request.done(function(response) {
                    // Agregamos los resultados al select                    
                    $("#id_subcategoria").html(response.municipios);                    
                });
                } else {
                    $("#id_subcategoria").html("<option value='' selected='selected'>---------</option>");                                    
                }
        });
    }); 
    

 </script>



{% endblock contenido %}
