{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}
<form method="POST" name="formulario">
    <div class="panel panel-default">
        <h3 style="text-align: center;">Editar/Crear Registro Desplazamiento Interno</h3>
        <div class="panel-body">
            {% csrf_token %}
            <div class="form-group as success">
                <label class="control-label" for="inputSuccess">Region</label>
                {{form.subcategoria}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Identidad</label>
                {{form.identidadext}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Codigo Centro</label>
                {{form.codigoce}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Centro Educativo</label>
                {{form.centroeducativo}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Nombre Alumno</label>
                {{form.descripcion}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Nivel Educativo</label>
                {{form.niveleducativo}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Grado</label>
                {{form.grado}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Edad</label>
                {{form.edad}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Genero</label>
                {{form.genero}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Direccion</label>
                {{form.direccion}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">NNA</label>
                {{form.NNA}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">PMTE</label>
                {{form.PMTE}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">CS</label>
                {{form.CS}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">TOTAL</label>
                {{form.TOTAL}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Destino</label>
                {{form.destino}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Observaciones</label>
                {{form.observaciones}}
            </div>
            <div class="form-group has-error" hidden="hidden">
                <label class="control-label" for="inputError">Estado</label>
                {{form.activo}}
          </div>
        </div>
<div class="card text-center">
	<div class="card-header">
    	Estado del Proceso
  	</div>
  	<div class="card-body">
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
		{% if obj == none %}
			<label class="btn btn-outline-primary btn-lg active">
			<input type="radio" name="estado" id="estado"  value = "1" checked> Ingresado</label>
			<label class="btn btn-outline-warning btn-lg">
		  	<input type="radio" name="estado" id="estado" value = "2"> Validado
			</label>
			<label class="btn btn-outline-danger btn-lg">
		  	<input type="radio" name="estado" id="estado" value = "3"> Pendiente
			</label>
		{% elif obj.estado  == 1 %}
			<label class="btn btn-outline-primary btn-lg active">
			<input type="radio" name="estado" id="estado" value = "1" checked> Ingresado</label>
			<label class="btn btn-outline-warning btn-lg">
			  <input type="radio" name="estado" id="estado" value = "2"> Validado
			</label>
			<label class="btn btn-outline-danger btn-lg">
			  <input type="radio" name="estado" id="estado" value = "3"> Pendiente
			</label>
		{% elif obj.estado  == 2 %}
			<label class="btn btn-outline-primary btn-lg ">
			<input type="radio" name="estado" id="estado" value = "1" > Ingresado</label>
			<label class="btn btn-outline-warning btn-lg active" >
			<input type="radio" name="estado" id="estado" value = "2" checked> Validado</label>
			<label class="btn btn-outline-danger btn-lg">
			  <input type="radio" name="estado" id="estado" value = "3"> Pendiente
			</label>
		 {% elif obj.estado  == 3 %}
			<label class="btn btn-outline-primary btn-lg ">
			<input type="radio" name="estado" id="estado" value = "1" > Ingresado</label>
			<label class="btn btn-outline-warning btn-lg" >
			  <input type="radio" name="estado" id="estado" value = "2" > Validado
			</label>
			<label class="btn btn-outline-danger btn-lg active" >
			  <input type="radio" name="estado" id="estado" value = "3" checked> Pendiente
		    </label>
		{% endif %}
</div>
</div>
</div>

	<div class="card text-center">
		 <div class="card-header">
	    Opciones
	  </div>
	  <div class="card-body">
        <button class="btn btn-success btn-lg" type="submit"><span class="fa fa-save"> </span> Guardar </button>
        <a href="{% url 'catalogos:producto_list_internos' %}" class="btn btn-danger btn-lg"><span class="fa fa-undo"> </span>  Cancelar</a>
	  </div>
	</div>
    </div>

</form>

<script src="{% static 'base/js/jquery.min.js' %}"></script>
<script src="{% static 'base/js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready( function () {
		$('#formulario').on('submit', function(event){
    	event.preventDefault();
    	console.log("form submitted!")  // sanity check
    create_post();
	});
	 });
</script>
{% endblock contenido %}
