{% extends 'base/base.html' %}
{% block contenido %}
<form method="POST">
    <div class="panel panel-default">
        <h3 style="text-align: center;">Editar/Crear Registro NNA</h3>

        <div class="panel-body">
            {% csrf_token %}
            <div class="form-group as success">
                <label class="control-label" for="inputSuccess">Region</label>
                {{form.subcategoria}}
            </div>

            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Identidad</label>
                {{form.identidadext}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Nombre</label>
                {{form.descripcion}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Genero</label>
                {{form.genero}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Edad</label>
                {{form.edad}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Grado</label>
                {{form.grado}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Centro Educativo</label>
                {{form.centroeducativo}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Codigo CE</label>
                {{form.codigoce}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Origen</label>
                {{form.origen}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Telefono</label>
                {{form.telefono}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">ID Encargado</label>
                {{form.idencargado}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Nombre Encargado</label>
                {{form.nombreencargado}}
            </div>
            <div class="form-group has-warning">
                <label class="control-label" for="inputWarning">Observaciones</label>
                {{form.observaciones}}
            </div>
        </div>
        <div class="card text-center">
			<div class="card-header">
		    	Estado del Proceso
		  	</div>
		  	<div class="card-body">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
				{% if obj == none %}
					<label class="btn btn-outline-primary btn-lg active">
					<input type="radio" name="estado" id="estado"  value = "1" checked> Ingresado</label>
					<label class="btn btn-outline-warning btn-lg">
				  	<input type="radio" name="estado" id="estado" value = "2"> Validado
					</label>
					<label class="btn btn-outline-danger btn-lg">
				  	<input type="radio" name="estado" id="estado" value = "3"> Pendiente
					</label>
				{% elif obj.estado  == 1 %}
					<label class="btn btn-outline-primary btn-lg active">
			    	<input type="radio" name="estado" id="estado" value = "1" checked> Ingresado</label>
					<label class="btn btn-outline-warning btn-lg">
				      <input type="radio" name="estado" id="estado" value = "2"> Validado
				    </label>
				    <label class="btn btn-outline-danger btn-lg">
				      <input type="radio" name="estado" id="estado" value = "3"> Pendiente
				    </label>
				{% elif obj.estado  == 2 %}
					<label class="btn btn-outline-primary btn-lg ">
			    	<input type="radio" name="estado" id="estado" value = "1" > Ingresado</label>
					<label class="btn btn-outline-warning btn-lg active" >
				    <input type="radio" name="estado" id="estado" value = "2" checked> Validado</label>
				    <label class="btn btn-outline-danger btn-lg">
				      <input type="radio" name="estado" id="estado" value = "3"> Pendiente
				    </label>
				 {% elif obj.estado  == 3 %}
					<label class="btn btn-outline-primary btn-lg ">
			    	<input type="radio" name="estado" id="estado" value = "1" > Ingresado</label>
					<label class="btn btn-outline-warning btn-lg" >
				      <input type="radio" name="estado" id="estado" value = "3" > Validado
				    </label>
				    <label class="btn btn-outline-danger btn-lg active" >
				      <input type="radio" name="estado" id="estado" value = "3" checked> Pendiente
				    </label>
				{% endif %}
		</div>
		</div>
		</div>
        <div class="card text-center">
			 <div class="card-header">
		    Opciones
		  </div>
		  <div class="card-body">
	        <button class="btn btn-success btn-lg" type="submit"><span class="fa fa-save"> </span> Guardar </button>
	        <a href="{% url 'catalogos:producto_list_internos' %}" class="btn btn-danger btn-lg"><span class="fa fa-undo"> </span>  Cancelar</a>
		  </div>
		</div>
    </div>

</form>
{% endblock contenido %}
